body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  display: flex;
  max-width: 1000px;
  margin: 30px auto;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
}

.sidebar {
  background: #003366;
  color: white;
  padding: 30px;
  width: 300px;
  text-align: center;
}

.sidebar img {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  font-size: 14px;
}

.sidebar ul li {
  margin: 8px 0;
}

.main {
  padding: 30px;
  flex-grow: 1;
}

h3 {
  margin-top: 0;
  color: #003366;
}

.skills span {
  display: inline-block;
  background: #ddd;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 6px;
  font-size: 14px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .main {
    padding: 20px;
  }

}
